# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.env.dev
.venv/

# Node
node_modules/
.DS_Store

# Terraform
*.tfstate
*.tfstate.backup
.terraform/


# other 
output.txt

terraform.tfvars
terraform-debug.log
infra/terraform/.terraform.lock.hcl
infra/terraform/schema.json
